<template>
  <div class=" m-md-5 m-sm-3">
      <div class="row">
        <div class="col-md-5">
          <div class="grid-item">
            <img src="../../Components/BurgerPoint.png" alt="Image" class="img-fluid rounded" >
          </div>
          <div class="mt-4 fw-bold">
              <div>
                  <p>Order From</p>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <a href="https://www.mychharo.com/en/store/Burger-Point/707116">
                      <button type="button" class="btn btn-primary w-100 py-2">My Chharo</button>
                      </a>
                  </div>
                 
                 
              </div>

          </div>

        </div>
        <div  class="col-md-1"></div>
        <div class="col-md-6">
          <div class="grid-item text-end">
            <h5>Beef Cheese Burger</h5>
            <p>Burger Point, opposite of Norling</p>
            <p>Thimphu,Bhutan</p>
            <p>+975 17544044</p>
          </div>
          <div class="grid-item mt-5">
              <p>The patty is placed inside a soft, toasted bun and topped with melted cheese. Additional layers of flavor come from toppings like lettuce, tomato, pickles, and onions, along with condiments such as ketchup, mustard, and mayonnaise. The result is a delicious and satisfying combination of savory beef, creamy melted cheese, and fresh accompaniments.</p>
              <p>Wheat/Gluten: The hamburger bun typically contains wheat flour, which contains gluten.
                  Dairy: The cheese used on the burger is a source of dairy, which can be problematic for individuals with lactose intolerance or a dairy allergy.
                  Egg: Some burger patties and buns may contain eggs as an ingredient.</p>
            </div>
        </div>
      </div>
    </div>
</template>