<template>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 offset-md-3 mb-4">
          <input
            v-model="searchTerm"
            type="text"
            class="form-control"
            placeholder="Search menu items..."
          />
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div v-for="(item, index) in filteredMenuItems" :key="index" class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ item.restaurant }}</h6>
              <a href="/detail">
                <button class="btn btn-success my-2 d-flex align-items-center justify-content-center"
                  data-bs-toggle="modal">Order</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script setup>
  import { ref, computed } from 'vue';
  import { Link, usePage } from "@inertiajs/vue3";
  
  const menuItems = ref([
    {
      id: 1,
      name: 'Beef Cheese Burger',
      restaurant: 'Burger Point',
    },
    {
      id: 2,
      name: 'The Meats Pizza',
      restaurant: 'Druk Pizza',
    },
    {
      id: 3,
      name: '12 Piece Chicken Wings',
      restaurant: 'DFC',
    },
    {
      id: 4,
      name: 'Apple and Quinoa Salad',
      restaurant: 'The Oven',
    },
  ]);
  
  const searchTerm = ref('');
  
  const filteredMenuItems = computed(() => {
    const term = searchTerm.value.toLowerCase();
    return menuItems.value.filter(item =>
      item.name.toLowerCase().includes(term) ||
      item.restaurant.toLowerCase().includes(term)
    );
  });
  </script>
  