<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../Components/logo.png" class="img-fluid" alt="Logo" style="max-width: 300px;" />
      </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <Link href="/logout" method="delete" as="button" class="btn btn-light">Logout</Link>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="min-vh-100">
      <slot></slot>
    </div>
  </div>
</template>

<script setup>
import { Link, usePage } from "@inertiajs/vue3";
</script>