<template>
  <div>
    <div class="position-relative vh-100 ">
      <div class="  bg-dark hero-header cus-bg">
        <div class="container">

          <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
              <img src="../../Components/logo.png" class="img-fluid">
              <br>
              <br>
              <h5>
                <p class="display-5 text-white animated slideInLeft mb-4 pb-2">Enjoy Delicious Food Without worries of
                  your Allergies</p>
              </h5>
              <a href="/login" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Get Started</a>

            </div>
            <div
              class="logo_img col-lg-6 d-flex align-items-center justify-content-center text-center vh-100 text-lg-end overflow-hidden">
              <img class="img-fluid" id="rotating-img" src="../../Components/hero.png" alt="" width="70%">
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
import { Link } from '@inertiajs/vue3';
</script>

<style>
:root {
  --primary: #FEA116;
  --light: #F1F8FF;
  --dark: #0F172B;
}

.ff-secondary {
  font-family: 'Pacifico', cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
}

.btn:hover {
  background-color: white;
  color: black;
}

/* .btn,
.btn.btn-secondary {
    /* background-color: #ffffff; */


.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}



/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url(../../Components/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;
  /* Set the height to 100% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* Set text color to white or appropriate color for better visibility */
  text-align: center;
  /* Center-align text content */
}

/* Add additional styles for text content or other elements within the hero header as needed */


.hero-header #rotating-img {
  animation: imgRotate 20s linear infinite
}

@keyframes imgRotate {
  100% {
    transform: rotate(360deg);
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
</style>