<template>
    <section class="vh-100" style="background-color: #ffffff;">
      <div class="container py-5 h-150 ">
        <div class="row d-flex justify-content-center align-items-left h-150">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="shadow" style="border-radius: 1rem;">
              <div class="card-body p-5">
                <img src="../../Components/logo2.png" alt="" class="img-fluid">
                <h3 class="mb-3 fw-bold">Sign Up</h3>

                <form @submit.prevent="submitForm">
                  <!-- Email input -->
                  <div class="form-outline mb-3 text-start">
                    <label class="form-label" for="form2Example1">Name</label>
                    <input v-model="form.name" type="text" id="form2Example1" class="form-control" required/>
                  </div>
                  <div v-if="form.errors">
                    {{ form.errors.name }}
                  </div>
                  <!-- Password input -->
                  <div class="form-outline mb-3 text-start">
                    <label class="form-label" for="form2Example2">Email</label>
                    <input v-model="form.email" type="email" id="form2Example2" class="form-control" required/>
                  </div>
                  <div v-if="form.errors">
                    {{ form.errors.email }}
                  </div>
                  <!-- Submit button -->
                  <router-link to="/admin">
  
                    <button type="submit" class="btn btn-success btn-block w-100 fw-bold">Sign up</button>
                  </router-link>

                  <hr>

                  <div class="row mb-4 text-center">
                    <div class="col">
                      <!-- Simple link -->
                       <Link href="/login">Already a user? Log in!</Link>
                    </div>
                  </div>
         
  
                </form>
                <!-- to show error message  -->
                <p v-if="error" class="error-message text-danger">{{ error }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </template>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  h3 {
    margin: 40px 0 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #060706;
    text-decoration: none;
  }
  </style>
  
  
<script setup>

    import { useForm, Link } from '@inertiajs/vue3';

    const form = useForm({
        role: 'admin',
        name: '',
        email: ''
    });

    const submitForm = () => {
    form.post('/register', {
        onSuccess: () => {
        window.location = '/verify';
        },
    });
    };
  
</script>
  