<template>
    <section class="vh-100" style="background-color: #ffffff;">
      <div class="container py-5 h-150 ">
        <div class="row d-flex justify-content-center align-items-left h-150">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="shadow" style="border-radius: 1rem;">
              <div class="card-body p-5">
                <img src="../../Components/logo2.png" alt="" class="img-fluid">
                <h3 class="mb-3 fw-bold">Reset Password</h3>
                <form @submit.prevent="form.post('/resetPassword')">

                  <!-- Email input -->
                  <div class="form-outline mb-3 text-start">
                    <label class="form-label" for="form2Example3">OTP</label>
                    <input v-model="form.email" type="text" id="form2Example3" class="form-control" />
                  </div>
                  <div v-if="form.errors">
                    {{ form.errors }}
                  </div>

                  <div class="form-outline mb-3 text-start">
                    <label class="form-label" for="form2Example1">Password</label>
                    <input v-model="form.email" type="password" id="form2Example1" class="form-control" />
                  </div>
                  <div v-if="form.errors">
                    {{ form.errors }}
                  </div>

                  <div class="form-outline mb-3 text-start">
                    <label class="form-label" for="form2Example2">Confirm Password</label>
                    <input v-model="form.email" type="password" id="form2Example2" class="form-control" />
                  </div>
                  <div v-if="form.errors">
                    {{ form.errors }}
                  </div>
                 
                  <!-- Submit button -->
                  <router-link to="/admin">
  
                    <button type="submit" @click="handleLogin" class="btn btn-success btn-block w-100 fw-bold">Reset Password</button>
                  </router-link>
  
                </form>
                <!-- to show error message  -->
                <p v-if="error" class="error-message text-danger">{{ error }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </template>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  h3 {
    margin: 40px 0 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #060706;
    text-decoration: none;
  }
  </style>
  
  
  <script setup>
  import { useForm, Link } from '@inertiajs/vue3';
  
  const form = useForm({
    role: 'admin',
    email: '',
    password: ''
  });
  </script>
  