<template>
    <section class="vh-100" style="background-color: #ffffff;">
      <div class="container py-5 h-150 ">
        <div class="row d-flex justify-content-center align-items-left h-150">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="shadow" style="border-radius: 1rem;">
              <div class="card-body p-5">
                <img src="../../Components/logo2.png" alt="" class="img-fluid">
                <h3 class="mb-3 fw-bold">Verification</h3>

                <form @submit.prevent="submitForm">
                  <!-- Email input -->
                  <div class="form-outline mb-3 text-start">
                    <label class="form-label" for="form2Example1">Verification Code</label>
                    <input v-model="form.otp" type="text" id="form2Example1" class="form-control" required/>
                  </div>
                  <div v-if="form.errors">
                    {{ form.errors.otp }}
                  </div>
                  
                  <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block w-100 fw-bold">verify</button>
           
                </form>
                <!-- to show error message  -->
                <p v-if="error" class="error-message text-danger">{{ error }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </template>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  h3 {
    margin: 40px 0 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #060706;
    text-decoration: none;
  }
  </style>
  
  
<script setup>

    import { useForm, Link } from '@inertiajs/vue3';

    const form = useForm({
  otp: '',
});

const submitForm = () => {
  form.post('/verify', {
    onSuccess: () => {
      // Redirect to the password setup page after successful verification
      // You can customize this based on your routes
      window.location = '/password';
    },
  });
};
  
</script>
  